# Build and Release Folders
bin/
build/

#node modules
node_modules/.bin/
node_modules/grunt/
node_modules/grunt-contrib-clean/
node_modules/grunt-contrib-concat/
node_modules/grunt-contrib-copy/
node_modules/grunt-contrib-jshint/
node_modules/grunt-contrib-requirejs/
node_modules/grunt-contrib-watch/
node_modules/grunt-html2js/
node_modules/grunt-karma/
node_modules/grunt-recess/
node_modules/karma/
node_modules/karma-chrome-launcher/
node_modules/karma-coffee-preprocessor/
node_modules/karma-firefox-launcher/
node_modules/karma-html2js-preprocessor/
node_modules/karma-jasmine/
node_modules/karma-phantomjs-launcher/
node_modules/karma-requirejs/
node_modules/karma-script-launcher/
node_modules/requirejs/

# Other files and folders
.idea/
