/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */


.app {
    color: #eab213;
}
.clear-navbar {
    margin-top: 60px
}

input.ng-valid.ng-dirty ,textarea.ng-valid.ng-dirty{
    /*background-color: #78FA89;*/
    border-color: #468847;
    -webkit-box-shadow: 0 0 8px #78FA89;
    -moz-box-shadow: 0 0 8px #78FA89;
    box-shadow: 0 0 8px #78FA89;
}

input.ng-invalid.ng-dirty,textarea.ng-invalid.ng-dirty {
    /*background-color: #FA787E;*/
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 8px #f8b9b7;
    -moz-box-shadow: 0 0 8px #f8b9b7;
    box-shadow: 0 0 8px #f8b9b7;
}